.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100px;
  padding: 0;
  margin-top: 30px;
  width: 100%;
}

.dots li {
  border-radius: 2px;
  margin: 0 2px;
}

button {
  background-color: #20bf6b;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 4px 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  margin-top: 24px;
}